@viewport {
  width: 500px;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf');
}

body {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

hr {
  clear: both;
  height: 60px;
  border: none;
  margin: 0 5px;
}

hr.vert {
  display: inline-block;
  width: 10px;
  height: 10px;
}

div.wrapper {
  padding-top: 40px;
}

div.content {
  cursor: default;
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
  color: #444;
}

div.introduction {
  max-width: 475px;
  margin: 0px auto;
  font-size: calc(32px + (60 - 32) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

div.name {
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: calc(80px + (167 - 80) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  color: #aaa;
}

div.details {
  text-align: center;
  margin: 0px auto;
  font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

div.talent {
  vertical-align: bottom;
}

div#flyup {
  position: relative;
  font-family: 'Lucida Console', Monaco, monospace;
}

div.link-header {
  margin-top: 15px;
  font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
}

div.linkout {
  max-width: 330px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: center;
}

div.linkout div {
  margin-top: 15px;
}

.blog-svg {
  max-height: 58px;
  max-width: 293px;
}

.edward-svg {
  margin-top: 15px;
  max-height: 58px;
}

div.tech {
  text-align: center;
  clear: both;
}

div.tech-header {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

div.tech div {
  text-align: center;
  margin-top: 7px;
}

div.tech img {
  margin-left: 5px;
}

/* Multi-purpose classes */

span.capitalize {
  text-transform: uppercase;
}

div.outline {
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

div.inline {
  display: inline-block;
}

.float {
  float: left;
}

.margin-left {
  margin-left: 15px;
}

.relative {
  position: relative;
}

div.fixed-width {
  width: 256px;
  margin: 0 auto;
}

div.superimpose span {
  position: absolute;
  width: 80px;
  text-align: right;
  top: 3px;
  right: 3px;
  font-size: 18px;
}

div.superimpose img {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
    0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

span.material {
  color: #fff;
  font-family: Roboto;
}

/* This section is for the portfolio */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

img.portfolio {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;

      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
}

img.portfolio:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}



/* Grid */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;

}

.tech-grid-item1 {
  grid-area: 2 / 1 / 1 / 3;
}

.tech-grid-item2 {
  grid-area: 2 / 2 / 1 / 4;
}

.tech-grid-item3 {
  grid-area: 2 / 1 / 3 / 2;
}

.tech-grid-item4 {
  grid-area: 2 / 2 / 3 / 3;
}

.tech-grid-item5 {
  grid-area: 2 / 3 / 3 / 4;
}

.tech-grid-item6 {
  grid-area: 3 / 1 / 4 / 3;
}

.tech-grid-item7 {
  grid-area: 3 / 2 / 4 / 4;
}

/* footer */
span.heart {
  color: #666;
  font-size: 12px;
  position: absolute;
  margin-top: 50px;
  width: 90%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
span a {
  color: #000000;
  text-decoration: none;
}
span .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}